<div class="flex w-full h-screen overflow-hidden">
  <!-- Sidebar -->
  <sidebar></sidebar>

  <div class="flex flex-col content-start bg-gray-100 grow dark:bg-night-800">
    <!-- Header -->
    <navbar></navbar>
    <!-- main content -->

    <section
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800 px-[2rem] w-full"
    >
      <div class="my-2">
        <!-- <BreadCrumbs /> -->
        <router-outlet></router-outlet>
      </div>
    </section>

    <!-- footer -->
    <!-- <app-footer></app-footer> -->

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
